<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.sample">

    <application
        android:icon="@android:mipmap/sym_def_app_icon"
        android:label="Sample Project"
        android:theme="@android:style/Theme.DeviceDefault" />

</manifest>
